<aside id="aside">
	<div class="ov"></div>
	<div class="wr">
		<div class="logo"></div>
		<nav id="gnb">
			<ul>
				<li><a href="<?php echo base_url()?>">
					<strong>홈</strong>
					<small>Home</small>
				</a></li>
				<li><a href="<?php echo base_url()?>ssm">
					<strong>삼성소프트웨어멤버십</strong>
					<small>Samsung software membership</small>
				</a></li>
				<!-- <li><a href="http://apply.samsung.co.kr/sswweb" target="_blank">
					<strong>지원</strong>
					<small>apply</small>
				</a></li> -->
				<li><a href="<?php echo base_url()?>program">
					<strong>프로그램</strong>
					<small>Program</small>
				</a></li>
				<li><a href="<?php echo base_url()?>board/notice">
					<strong>공지사항</strong>
					<small>Notice</small>
				</a></li>
				<li><a href="<?php echo base_url()?>history">
					<strong>역사관</strong>
					<small>History</small>
				</a></li>
				<li><a href="<?php echo base_url()?>faq">
					<strong>FAQ</strong>
					<small>FAQ</small>
				</a></li>
			</ul>
		</nav>
		<div class="follow_us">
			<p class="txt">Follow us on</p>
			<div class="socials">
				<a href="mailto:infossm@samsung.com" class="fu_mail">Mail</a>
				<a href="https://www.facebook.com/secmem/" target="_blank" class="fu_facebook">Facebook</a>
				<a href="https://www.instagram.com/info_ssm/" target="_blank" class="fu_instagram">Instagram</a>
				<a href="https://www.youtube.com/user/SamsungSWMem" target="_blank" class="fu_youtube">Youtube</a>
			</div>
		</div>
		<button type="button" class="aside_close">aside close</button>
	</div>
</aside>
